header {
	background: url(fyphere.jpeg) no-repeat center;
	background-size: cover;
	height: 10em;
	border: 1px solid grey;

}
body header{
	margin: 0;
	color: #FFA500;
	font-size: 50px;
	text-align: center;
	padding-top: 50px;
}
h1, h2, h3, h4{
	font-family: 'Lobster';
	font-style: italic;
}
nav{
	margin: 0 auto;
	height: 40px;
    font-style: italic;
    font-weight: bold;
    background-color: gray;	
}

nav li {
    display: inline;
    margin: 0 15px
}
nav li:first-child {
    margin-left: 0;
}
nav li a {
	font-family: 'Lobster';
	text-decoration: none;

}
nav ul li a:link, nav a:visited{
	color: #ffffff;
    display: inline-block;
    padding: 10px 25px;
}
section{
	margin: 0;
	height: 20em;
	border: 1px solid black;
	width: 100%;
	font-family: 'Lobster';
	padding: 10px;
	margin-top: 5px;

}

section:nth-child(odd) {
	background-color: grey;
}
section:nth-child(even){
	background-color: #F0FFFF;
}
table, th, td {
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 5px;

}
table{
	width: 100%;
}
th, td{

    padding: 5px;
    text-align: left;
}

ul.onlineMedia {
	list-style-type: none;
}
aside{
	float: right;
	position: relative;
	padding-right: 20px;
	width: 25%;
	height: 20em;
	
}
aside h1{
	font-size: italic;
	color: red;
}
div.address{
	float: left;
	width: 70%;
	background-color: gray;
}

div.address dl, div.address dt, div.address dd {
	padding: 10px;
}
div.address h1{
	font-style: italic;
	color: red;
}